html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
p {
  font-size: 14px;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
/* Navbar */
.navbar {
  background: #f1f3ff;
}
.nav-item {
  margin-right: 32px;
}
.nav-link {
  font-style: normal;
  font-size: 14px;
  color: black;
}
.reg {
  text-align: center;
  width: 81px;
  background-color: #5cb85f;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
/* end of navbar */

/* banner */
.banner {
  background: #f1f3ff;
}
.banner-titles p {
  margin-top: 14px;
}
.rent {
  padding: 8px 12px;
  background: #5cb85f;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.logo-banner img {
  width: 124%;
  height: 100%;
}
/* end of banner */

/* our service */
.service{
  width: 459px;
  height: 428px;
}
.serv-detail p {
  margin-top: 20px;
  width: 460px;
}
.serv-comp p img {
  padding-right: 22.65px;
}
/* end of our service */

/* why us */
.text p {
  margin-top: 14px;
  margin-bottom: 40px;
}
.card-text {
  width: 220px;
  height: 60px;
  margin-top: 14px;
}
/* end of why us */

/* testimonial */
.text-carou {
  text-align: center;
}
.text-carou p{
  margin-bottom: 45px;
}
.item {
  background-color: #f1f3ff;
  height: 270px;
  width: 619px;
  border-radius: 8px;
}
.profile {
  width: 80px;
  height: 80px;
}
.rate{
  width: 80px;
height: 16px;
}
.testi-text{
  margin-top: 8px;
  width: 410px;
height: 80px;
}
p.name{
  margin-top: 10px;
  font-weight: 550;
}
/* end of testimonial */

/* rent banner */
.rent-box{
  background: #0D28A6;
  border-radius: 13px;
  width: 100%;
height: 326px;
text-align: center;
color: white;
}
.rent-box h1{
  padding-top: 64px;
}
.rent-box p{
  margin-top: 16px;
  margin-bottom: 52px;
}
/* end of rent banner */

/* FAQ */
/* end of FAQ */

/* footer */
.menu-bar a{
  text-decoration: none;
  color: black;
  
}
.contact-logo img{
  margin-right: 16px;
}
/* end of footer */